name: Release
on:
    push:
        branches:
            - main

env:
    FORCE_COLOR: true
    GITHUB_TOKEN: ${{ github.token }}
    REPO: MushZI/MushZicord 
    USERNAME: GitHub-Actions

permissions:
    contents: write

jobs:
    Build:
        name: Build Equicord
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3

            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build web
              run: pnpm buildWebStandalone

            - name: Build
              run: pnpm buildStandalone

            - name: Generate plugin lists
              run: |
                  pnpm generatePluginJson dist/plugins.json
                  pnpm generateEquicordPluginJson dist/equicordplugins.json
                  pnpm generateVencordPluginJson dist/vencordplugins.json
                  pnpm generateDevsList dist/devs.json

            - name: Collect files to be released
              run: |
                  cd dist
                  mkdir release
                  cp browser/browser.* release
                  cp Equicord.user.{js,js.LEGAL.txt} release
                  cp *.{json,zip,asar} release
                  find release -size 0 -delete
                  rm -f release/package.json
                  rm -f release/*.map

            - name: Upload Equicord Stable
              run: |
                  # Crée la release "latest" si elle n'existe pas, sinon continue
                  gh release create latest --title "Latest Build" --notes "Build automatique de MushZicord" || echo "Release déjà existante"
                  # Envoie les fichiers dans la release
                  gh release upload latest --clobber dist/release/*
              env:
                  GH_TOKEN: ${{ github.token }}

            - name: Upload Plugin JSONs
              run: |
                  git config --global user.name "GitHub-Actions"
                  git config --global user.email actions@github.com
                  # On utilise le token de l'action pour cloner et push
                  git clone https://x-access-token:${{ github.token }}@github.com/${{ github.repository }}.git repo_update
                  cd repo_update
                  cp ../dist/release/*.json . || true
                  git add .
                  git commit -m "Update plugin lists [skip ci]" || echo "No changes to commit"
                  git push